<div>
  <h1>Weather statistics charts</h1>

  <p>
    Simple weather statistics web app written on Angular 15 +
    <a href="https://www.chartjs.org/" target="_blank">Chart.js</a>
    charts library. <br>
    Data is taken live from
    <a href="https://open-meteo.com/en" target="_blank">open-meteo.com</a>
    using my nodejs proxy data server (see
    <a href="https://github.com/PikusSpbSandbox/NodeJs-web-server-php" target="_blank">source code on Github</a>)
    and sorted according to the temperature value
    also with a highlighting with appropriate color.<br>
    See <a href="https://github.com/PikusSpbSandbox/WeatherChart" target="_blank">source code</a>
    on my <a href="https://github.com/PikusSpbSandbox" target="_blank">Github page</a>.

  <h2>World capitals weather temperature now</h2>
  <bar-chart
    [labels]="labels.capitals"
    [values]="values.capitals"
    [title]="'World capitals temperature, C'">
  </bar-chart>

  <div *ngIf="!previewMode">

    <h2>Russian cities weather temperature now</h2>
    <bar-chart
      [labels]="labels.rus"
      [values]="values.rus"
      [title]="'Russian cities temperature, C'">
    </bar-chart>

    <h2>My favourite cities weather temperature now</h2>
    <bar-chart
      [labels]="labels.favourite"
      [values]="values.favourite"
      [title]="'Other cities temperature, C'">
    </bar-chart>

    <h2>Average weather temperature trend from the all above cities</h2>
    <bar-chart
      [labels]="labels.average"
      [values]="values.average"
      [indexAxis]="'x'"
      [sort]="false"
      [title]="'Average daily temperature, C'">
    </bar-chart>
  </div>
</div>
