<ngb-carousel>
  <ng-template ngbSlide>
    <bar-chart [labels]="labels.capitals" [values]="values.capitals" [title]="'World capitals temperature, C'"></bar-chart>
  </ng-template>
  <ng-template ngbSlide>
    <bar-chart [labels]="labels.rus" [values]="values.rus" [title]="'Russian cities temperature, C'"></bar-chart>
  </ng-template>
  <ng-template ngbSlide>
    <bar-chart [labels]="labels.favourite" [values]="values.favourite" [title]="'Special cities temperature, C'"></bar-chart>
  </ng-template>
</ngb-carousel>

