<carousel
  [height]="450"
  [cellsToShow]="1"
  [autoplay]="true"
  [autoplayInterval]="5000"
  [arrowsOutside]="true">
  <bar-chart
    class="carousel-cell"
    [labels]="labels.capitals"
    [values]="values.capitals"
    [title]="'World capitals temperature, C'">
  </bar-chart>
  <bar-chart
    class="carousel-cell"
    [labels]="labels.rus"
    [values]="values.rus"
    [title]="'Russian cities temperature, C'">
  </bar-chart>
  <bar-chart
    class="carousel-cell"
    [labels]="labels.favourite"
    [values]="values.favourite"
    [title]="'Other cities temperature, C'">
  </bar-chart>
</carousel>

